.header{
    display: flex;
    justify-content: space-between;
    border: solid black;
}
.logo{
    width:100px;
    padding: 0px;
    margin-left: 40px;
   
}
.nav-items{
    padding: 20pxpx 20px;
}
.card-data{
    text-align: center;
}

.nav-items > ul {
    font-size: 18px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li{

    padding:11px;
    margin: 11px;
}
.search{
    padding: 10px;
}

.rest-containaer{
    padding: 10px;
    margin: 10px;

}
.rest-container{
    display: flex;
    flex-wrap: wrap;
}

.rest-card{
        width: 200px;
        height: 400px;
        margin: 5px;
        border-radius: 30px;
        border: solid black;
        border-style: hidden;
        
       
}
.rest-logo{
    width: 180px;
    height: 150px;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    
}

.filter-btn {
    margin: 10px;
    border-radius: 3px;
    background-color: cadetblue;
}